@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<<<<<<< HEAD
    <h1 class="display-4">Welcome eruna </h1>
=======
    <h1 class="display-4">Welcome to Eruna India ,Bangalore </h1>
>>>>>>> ccbbe5c5e229ff0c5f59dc40848ddda29d797319
    
</div>
